<%- include("../partials/header") %>
<div class="container">
	<header class="jumbotron">

	<h1>Welcome To Yelp Camp!!</h1>
	<p>Best camp sites from all over the world</p>
	<p>
		<a href="/campgrounds/new" class="btn btn-danger btn-md">Add a New Campground</a>
	</p>
</header>
	<div class="row text-center" style="display:flex;flex-wrap:wrap;">
		<% campgrounds.forEach(function(campground){ %>
		<div class="col-md-3 col-sm-6">
			<div class="thumbnail">
				<img src="<%=campground.image%>">
			<div class="caption">
				<h4><%= campground.name %></h4>
			</div>
				<p>
					<a href="/campgrounds/<%=campground._id%>" class="btn btn-lg btn-primary">More Info</a>
				</p>
			</div>
		</div>
	<% }); %>
	</div>
	<a href="/">BACK</a>

</div>
	

<%- include("../partials/footer") %>